Repository entando/entando-bundle-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, npm run coverage

.lintstagedrc:

{
  "**/*.{ts,js}": [
    "prettier --write",
    "eslint",
    "npm run coverage"
  ],
  "**/*.{md,yml,json,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

ENG-3692 command description update
  src/commands/svc/logs.ts
Due: prettier --write, eslint, npm run coverage

ENG-3814 Added Docker login
  src/commands/publish.ts
  src/paths.ts
  src/services/config-service.ts
  src/services/docker-service.ts
  src/services/process-executor-service.ts
  test/commands/publish.test.ts
  test/services/docker-service.test.ts
  test/services/process-executor-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3814 Improved messages for the user
  src/commands/publish.ts
  test/commands/publish.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3814 Saved organization and executed pack
  src/commands/publish.ts
  test/commands/publish.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3814 Renamed docker-registry flag
  src/commands/publish.ts
  src/services/docker-service.ts
  test/commands/publish.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3791 Implement dependsOn constraint
  src/models/bundle-descriptor-constraints.ts
  src/services/constraints-validator-service.ts
  test/services/constraints-validator-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3791 Add and amend comments in ConstraintsValidatorService
  src/services/constraints-validator-service.ts
Due: prettier --write, eslint, npm run coverage

ENG-3673 modified mysql yaml default configuration
  resources/svc/default-mysql.yml
Due: prettier --write

ENG-3816 Docker images renaming
  src/commands/publish.ts
  src/services/docker-service.ts
  test/commands/publish.test.ts
  test/services/docker-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3673 lowering version of docker compose yaml to 3.7
  resources/svc/default-mysql.yml
Due: prettier --write

ENG-3673 add explanation to commented volume configuration
  resources/svc/default-mysql.yml
Due: prettier --write

ENG-3676 modified postgresql yaml default configuration
  resources/svc/default-postgresql.yml
Due: prettier --write

ENG-3816 Updated messages
  src/commands/publish.ts
Due: prettier --write, eslint, npm run coverage

ENG-3676 added username and password in configuration
  resources/svc/default-postgresql.yml
Due: prettier --write

ENG-3673 added username and password in configuration
  resources/svc/default-mysql.yml
Due: prettier --write

ENG-3673 changed random root password to specific root password same to user password
  resources/svc/default-mysql.yml
Due: prettier --write

ENG-3826 Completed publish command implementation
  src/commands/publish.ts
  src/services/docker-service.ts
  test/commands/publish.test.ts
  test/services/docker-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3791 Redo union type constraint by implementing union type validators
  src/models/bundle-descriptor-constraints.ts
  src/services/constraints-validator-service.ts
  test/services/constraints-validator-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3829 Change descriptor versions to v5
  src/models/yaml-bundle-descriptor.ts
  src/services/bundle-descriptor-converter-service.ts
  test/services/bundle-descriptor-converter-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3829 Remove 'code' from descriptors
  src/models/bundle-descriptor-constraints.ts
  src/models/bundle-descriptor.ts
  src/models/yaml-bundle-descriptor.ts
  src/services/bundle-descriptor-converter-service.ts
  test/commands/mfe/rm.test.ts
  test/helpers/mocks/bundle-descriptor-helper.ts
  test/services/bundle-descriptor-converter-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3829 Add 'name' to yaml descriptors
  src/models/yaml-bundle-descriptor.ts
  src/services/bundle-descriptor-converter-service.ts
  test/services/bundle-descriptor-converter-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3672 add keycloak service
  package.json
  resources/default-gitignore
  resources/svc/default-keycloak.yml
  resources/svc/default-mysql.yml
  resources/svc/default-postgresql.yml
  resources/svc/keycloak/realm-config/entando-dev-realm.json
  resources/svc/keycloak/realm-config/entando-dev-users-0.json
  src/paths.ts
  src/services/initializer-service.ts
  test/commands/init.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3826 Added --config to docker push command
  src/services/docker-service.ts
  test/services/docker-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3826 Updated default Docker registry constant
  src/services/docker-service.ts
Due: prettier --write, eslint, npm run coverage

ENG-3672 update gitignore
  resources/default-gitignore
Due: none

Created config directory if it doesn't exist
  src/services/config-service.ts
  test/services/config-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3829 Change YamlPluginDescriptor version type to string
  src/models/yaml-bundle-descriptor.ts
Due: prettier --write, eslint, npm run coverage

ENG-3672 code improvements
  package.json
  resources/default-gitignore
  resources/svc/default-keycloak.yml
  resources/svc/default-mysql.yml
  resources/svc/default-postgresql.yml
  src/services/initializer-service.ts
Due: prettier --write, eslint, npm run coverage

ENG-3833 amend bundle thumbnail option
  src/commands/pack.ts
  src/models/yaml-bundle-descriptor.ts
  src/services/bundle-descriptor-converter-service.ts
  test/commands/pack.test.ts
  test/services/bundle-descriptor-converter-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3855 Update docker build flags and default registry
  src/commands/publish.ts
  src/services/docker-service.ts
  test/commands/publish.test.ts
  test/services/docker-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3829 Change version to descriptorVersion in yaml descriptors
  src/models/yaml-bundle-descriptor.ts
  src/services/bundle-descriptor-converter-service.ts
  test/services/bundle-descriptor-converter-service.test.ts
Due: prettier --write, eslint, npm run coverage

Fix typescript-eslint warning
  .eslintrc
Due: prettier --write

ENG-3822 Add contextParams property to WidgetMicroFrontend
  src/models/bundle-descriptor-constraints.ts
  src/models/bundle-descriptor.ts
  src/services/bundle-descriptor-converter-service.ts
  src/services/constraints-validator-service.ts
  test/services/bundle-descriptor-converter-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3852 add info command and remove test values from default config
  README.md
  resources/default-config.json
  src/commands/info.ts
  src/services/config-service.ts
  test/commands/info.test.ts
  test/services/config-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3833 moved thumbnail process to new service + change requests
  src/commands/pack.ts
  src/services/bundle-descriptor-converter-service.ts
  src/services/bundle-thumbnail-service.ts
  test/commands/pack.test.ts
  test/services/bundle-descriptor-converter-service.test.ts
  test/services/bundle-thumbnail-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3833 properies of thumbnail service optional + unit test process change
  src/services/bundle-thumbnail-service.ts
  test/services/bundle-thumbnail-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3833 path property of BundleThumbnailInfo now optional
  src/services/bundle-thumbnail-service.ts
  test/services/bundle-thumbnail-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-3833 conditions for undefined
  src/services/bundle-thumbnail-service.ts
Due: prettier --write, eslint, npm run coverage

Improve constraints
  src/models/bundle-descriptor-constraints.ts
  src/services/constraints-validator-service.ts
Due: prettier --write, eslint, npm run coverage

Improve union type constraint errors
  src/services/constraints-validator-service.ts
  test/services/constraints-validator-service.test.ts
Due: prettier --write, eslint, npm run coverage
