Repository entando/entando-bundle-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, npm run coverage

ENG-4032 Split microservices and bundle image output in publish command
  src/commands/publish.ts
  test/commands/publish.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4041 Supported docker:// in generate-cr
  src/commands/generate-cr.ts
  src/models/bundle-descriptor-constraints.ts
  src/services/custom-resource-service.ts
  test/commands/generate-cr.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4041 Supported docker:// also in API claims
  README.md
  src/commands/api/add-ext.ts
  src/commands/generate-cr.ts
  src/models/bundle-descriptor-constraints.ts
  src/services/bundle-service.ts
  test/commands/api/add-ext.test.ts
  test/services/bundle-service.test.ts
  test/services/constraints-validator-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4041 Moved constant definition to avoid circular import issue
  src/commands/api/add-ext.ts
  src/commands/generate-cr.ts
  src/models/bundle-descriptor-constraints.ts
  src/services/bundle-service.ts
  src/services/custom-resource-service.ts
  test/commands/api/add-ext.test.ts
  test/services/bundle-service.test.ts
  test/services/constraints-validator-service.test.ts
Due: prettier --write, eslint, npm run coverage

Added validation for nav target field
  src/models/bundle-descriptor-constraints.ts
  test/services/constraints-validator-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4041 Minor changes
  README.md
  src/commands/api/add-ext.ts
  src/commands/generate-cr.ts
  src/models/bundle-descriptor-constraints.ts
  src/services/bundle-service.ts
  src/services/custom-resource-service.ts
  test/commands/api/add-ext.test.ts
  test/services/bundle-service.test.ts
  test/services/constraints-validator-service.test.ts
Due: prettier --write, eslint, npm run coverage

Bump 1.0.0
  package.json
Due: prettier --write

ENG-4079 Added support for widgets in platform folder
  src/models/yaml-bundle-descriptor.ts
  src/services/bundle-descriptor-converter-service.ts
  test/commands/mfe/rm.test.ts
  test/commands/pack.test.ts
  test/services/psc-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENGPM-472 Release 1.0 - adjustments for pipeline
  entando-project
Due: none

ENGPM-472 Release 1.0 - adjustments for pipeline
  entando-pipelines
Due: none

ENG-4087 add warning message on cloning bundle without descriptor json
  src/commands/init.ts
  src/services/initializer-service.ts
  test/commands/init.test.ts
  test/commands/mfe/rm.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4087 omit try-catch method and using oclif warning printout + add new env var ENTANDO_BUNDLE_CLI_INIT_NO_JSON_WARNING
  src/commands/init.ts
  src/services/initializer-service.ts
  test/commands/init.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4087 new env var ENTANDO_BUNDLE_CLI_INIT_NO_JSON_WARNING default value should be true
  src/services/initializer-service.ts
  test/commands/init.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4087 add specificity on displaying descriptor not found error
  src/services/initializer-service.ts
Due: prettier --write, eslint, npm run coverage

ENG-4090 added ENTANDO_CLI_DEFAULT_HUB env variable for default hub domains
  src/commands/init.ts
  src/services/hub-service.ts
  test/helpers/mocks/hub-api.ts
Due: prettier --write, eslint, npm run coverage

ENG-4090 added ENTANDO_CLI_DEFAULT_HUB in readme
  README.md
Due: prettier --write

ENG-4091 Retrieved default Docker registry from ENTANDO_CLI_DEFAULT_DOCKER_REGISTRY
  README.md
  src/commands/api/add-ext.ts
  src/commands/generate-cr.ts
  src/commands/publish.ts
  src/services/bundle-service.ts
  src/services/docker-service.ts
  test/commands/api/add-ext.test.ts
  test/commands/generate-cr.test.ts
  test/commands/publish.test.ts
  test/services/bundle-service.test.ts
  test/services/docker-service.test.ts
Due: prettier --write, eslint, npm run coverage

Fixed ENTANDO_BUNDLE_CLI_INIT_NO_JSON_WARNING name
  README.md
  src/services/initializer-service.ts
  test/commands/init.test.ts
Due: prettier --write, eslint, npm run coverage

Updated variable that disables init warning again
  README.md
  src/services/initializer-service.ts
  test/commands/init.test.ts
Due: prettier --write, eslint, npm run coverage

Sorted environment variables in README alphabetically
  README.md
Due: prettier --write

Delete ga-publication.yml
  .github/workflows/ga-publication.yml
Due: prettier --write

ENG-4126 Improved handling of Hub URL
  src/api/hub-api.ts
  src/services/docker-service.ts
  src/services/hub-service.ts
  test/api/hub-api.test.ts
Due: prettier --write, eslint, npm run coverage

Set version to 1.0.1-SNAPSHOT
  package-lock.json
  package.json
Due: prettier --write

ENG-4137 Added support for static resources folder
  src/models/custom-resource-descriptor.ts
  src/models/yaml-bundle-descriptor-constraints.ts
  src/models/yaml-bundle-descriptor.ts
  src/services/custom-resource-service.ts
  test/services/psc-service.test.ts
Due: prettier --write, eslint, npm run coverage

Removed SNAPSHOT from version
  package-lock.json
  package.json
Due: prettier --write

ENG-4148 Skipped default svc initialization if service already exists
  src/commands/svc/disable.ts
  src/services/default-svc-initializer-service.ts
  src/services/svc-service.ts
  test/commands/svc/disable.test.ts
  test/services/default-svc-initializer-service.test.ts
  test/services/svc-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4148 Updated README
  README.md
  package-lock.json
  package.json
Due: prettier --write

Updated keycloak version
  package.json
Due: prettier --write

ENG-4148 Minor changes
  src/commands/svc/disable.ts
  src/services/default-svc-initializer-service.ts
Due: prettier --write, eslint, npm run coverage

ENG-4156 Added confirmation prompt in generate-cr
  src/commands/generate-cr.ts
  test/commands/generate-cr.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4149 Moved initialization of CmService outside constructor
  src/services/api-claim-service.ts
Due: prettier --write, eslint, npm run coverage

ENG-4165 Simplify secret reference declaration in entando.json
  src/models/bundle-descriptor-constraints.ts
  src/models/bundle-descriptor.ts
  src/models/yaml-bundle-descriptor.ts
  src/services/bundle-descriptor-converter-service.ts
  test/services/bundle-descriptor-converter-service.test.ts
  test/services/constraints-validator-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4165 Update test
  test/services/constraints-validator-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4165 Move Yaml envVars to yaml descriptors
  src/models/bundle-descriptor.ts
  src/models/yaml-bundle-descriptor.ts
  src/services/bundle-descriptor-converter-service.ts
Due: prettier --write, eslint, npm run coverage

ENG-4165 Fix screen size issue on publish tests
  .eslintrc
  test/commands/publish.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4165 Change no thumbnail warning message style
  src/commands/pack.ts
Due: prettier --write, eslint, npm run coverage

ENG-4196 Default clause from the switch statement of the thumbnail status message removed
  src/commands/pack.ts
Due: prettier --write, eslint, npm run coverage

ENG-4196 Add category field in MFE of type widget
  src/models/bundle-descriptor-constraints.ts
  src/models/bundle-descriptor.ts
  src/models/yaml-bundle-descriptor.ts
  src/services/bundle-descriptor-converter-service.ts
  test/services/constraints-validator-service.test.ts
Due: prettier --write, eslint, npm run coverage

ENG-4196 category field renamed to widgetCategory in yaml descriptor
  src/models/yaml-bundle-descriptor.ts
  src/services/bundle-descriptor-converter-service.ts
Due: prettier --write, eslint, npm run coverage

Path conditions:
  prettier --write: (any of: **/*.{ts,js}) or (any of: **/*.{md,yml,json,eslintrc,prettierrc})
  eslint: any of: **/*.{ts,js}
  npm run coverage: any of: **/*.{ts,js}
